@charset "UTF-8";

@font-face {
    font-family: 'Nexa';
    src: url('/fonts/NexaRustScriptL-0-Free-webfont.woff2') format('woff2'),
         url('/fonts/NexaRustScriptL-0-Free-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo';
    src: url('/fonts/museosans-100.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  line-height: 1.425;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #5B5B5B;
  font-family: 'Museo', sans-serif;
}

p, h1 {
  margin: 0;
  margin-bottom: 1.425rem;
}

h1 {
  font-size: 2em;
}

a {
  background-color: transparent;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  vertical-align: middle;
}

[hidden] {
  display: none;
}

/* Layout Classes */
.container {
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #F8FAFC;
}

.layout {
  display: grid;
  min-height: 100vh;
  align-content: stretch;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  grid-template-areas:
    "header header"
    "sidebar sidebar"
    "content content"
    "footer footer";
}

.header {
  grid-area: header;
  align-self: end;
  text-align: center;
}

.content {
  grid-area: content;
  align-self: start;
}

.sidebar {
  grid-area: sidebar;
}

.footer {
  grid-area: footer;
  justify-self: stretch;
  align-self: stretch;
  margin-left: -1rem;
  margin-right: -1rem;
  background-color: #E4DED1;
}

/* Content Wrapper */

.content-wrapper {
  max-width: 22rem;
}

/* Header Elements */

.header-title {
  display: none;
}

.header-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(1.425rem * 2);
  margin-bottom: calc(1.425rem / 3);
  max-width: 100%;
  height: auto;
}

.header-claim {
  font-family: 'Nexa', sans-serif;
  font-size: 1.25rem;
  margin-bottom: 0;
}

/* Sidebar elements */

.featured-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Footer Elements */

.actions {
  height: 100%;
  display: grid;
  align-content: stretch;
  align-items: stretch;
  justify-items: stretch;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "main-cta main-cta"
    "maps instagram";
}

.call-us {
  grid-area: main-cta;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1.425rem;
  padding-bottom: 1.425rem;
}

.call-us-title {
  margin: 0;
  line-height: 1.1;
  font-size: 1.2rem;
  font-family: 'Nexa', sans-serif;
  margin-bottom: 1.425rem;
}

.call-us-btn {
  display: inline-block;
  padding: .7125rem 2.5rem;
  font-size: .95rem;
  text-transform: uppercase;
  letter-spacing: .15em;
  text-decoration: none;
  color: inherit;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 999em;
}

.call-us-btn:not(.clickable) {
  display: inline-block;
}

.call-us-btn.clickable {
  display: none;
}

.is-mobile .call-us-btn:not(.clickable) {
  display: none;
}

.is-mobile .call-us-btn.clickable {
  display: inline-block;
}

.maps, .instagram {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: .7125rem;
  padding-bottom: .7125rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.maps-link, .instagram-link {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: inherit;
  text-align: center;
}

.instagram-icon, .maps-icon {
  display: block;
  margin-bottom: .7125rem
}

.maps {
  grid-area: maps;
  background-color: #CDC7B9;
}

.instagram {
  grid-area: instagram;
  background-color: #A9A49A;
}

.instagram-link {
  font-family: 'Nexa', sans-serif;
  color: #fff;
  font-size: 1.05rem
}

/* Responsive */
@media screen and (min-width: 952px) and (orientation: landscape) {
  .layout {
    height: 100vh;
    grid-template-areas:
      "header sidebar"
      "content sidebar"
      "footer footer"
  }

  .header-logo {
    padding-top: 0;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 112.5%;
  }

  .featured-img {
    max-width: 75%;
  }

  .call-us {
    flex-direction: row;
  }

  .call-us-title {
    margin-bottom: 0;
    padding-right: 1.425rem;
  }

  .maps, .instagram {
    align-items: center;
  }

  .instagram-link, .maps-link {
    flex-direction: row;
    justify-content: center;
    text-align: left;
  }

  .instagram-icon, .maps-icon {
    margin-bottom: 0;
    padding-right: .7125rem
  }
}

@media screen and (min-width: 768px) {
  .featured-img {
    max-width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 131.25%;
  }

  .instagram-icon, .maps-icon {
    width: 56px
  }
}
